$color-blue-dark:#518BDE;
$color-blue-light:#5496E6;
$color-gray-one: #444;

.grid{
    width:100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(4, minmax(200px, 1fr));
    grid-template-columns: repeat(111, minmax(150px, 1fr));
    

        &__title{
            grid-column: 1/3;
            grid-row: 1/2;

            justify-self: center;
            // align-self: center;
            
            font-size:18px;
            color:white;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            line-height: 22px;
            padding: 55px 75px;
        }
}