.picker{
    grid-row: 2/3;
    grid-column: 5/11;
    
    padding-bottom: 50px;

    input{
        width: 100%;
        font-size: 80px;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: bold;
        color: $color-gray-one;
        text-align: center;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid #E3B924;
        justify-self: center;
        
        &:focus{
            outline: none;
        }
    }
}